nav {
    background-color: transparent;
    min-height: 60px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    transition: background-color 0.5s ease 0.2s, transform 0.4s ease-out 0s;
    width: 100%;
    z-index: 100;
    --rgb-primary: 255, 255, 255;
}

@media (min-width: 1281px) {

    nav {
        min-height: 100px;
    }
}

@media (min-width: 600px) {

    nav {
        min-height: 90px;
    }
}

@media (min-width: 1281px) {
    nav .inner {
        padding: 46px 60px 12px;
    }
}

@media (min-width: 600px) {
    nav .inner {
        padding: 36px 26px 18px;
    }
}

nav .inner {
    align-items: center;
    display: flex;
    padding: 18px 20px 8px;
    transition: padding 0.5s ease 0s;
}

nav .left {
    align-items: center;
    display: flex;
    flex-basis: 40%;
    z-index: 500;
}

nav .middle {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    padding-right: 0px;
    z-index: 500;
}

nav .right {
    align-items: center;
    display: flex;
    flex-basis: 40%;
    height: 36px;
    justify-content: flex-end;
    z-index: 500;
    padding-right: 10px;
}

.left-list {
    display: flex;
    align-items: center;
}

.globe-int {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.li-contact {
    align-items: center;
    list-style: none;
}

.li-contact a {
    /* color: rgb(var(--rgb-primary, 255, 255, 255)); */
    display: block;
    line-height: 16px;
    padding: 0px 27px 0px 19px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-family: VerlagSSm, sans-serif;
    font-weight: 700;
}

li {
    align-self: center;
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 1px;

}

ul {
    overflow: hidden;
    transform: translateZ(0px);
    align-items: center;
    cursor: pointer;
    display: var(--display, flex);
    font-size: 0px;
    padding: 0px;
    position: relative;
    z-index: 10;
}

span {
    color: rgb(var(--rgb-primary, 255, 255, 255));
    /* color: black; */
    display: inline-block;
    line-height: 36px;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: VerlagSSm, sans-serif;
    font-weight: 700;
}

@media (min-width: 960px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 960px) {
    .web {
        display: none;
    }

    .li-contact {
        display: none;
    }

    li {
        margin-left: -20px;
    }

    .globe-int {
        padding-right: 10px;
    }
}

@media (max-width: 600px) {
    .lock {
        display: none;
    }

    .search {
        display: none;
    }

}

.globe-icon {
    align-self: center;
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 1px;
    width: 20px;
}

.logo {
    height: 22px;
    width: 114px;
}

@media (min-width: 600px) {
    .logo {
        height: 32px;
        width: 164px;
    }

}

svg {
    fill: rgb(var(--rgb-primary, 255, 255, 255));
}

.lock {
    margin-right: 40px;
}

.search {
    margin-right: 40px;
    padding-top: 10px;
}

.ham {
    width: 25px;
    height: 25px;
}


/* modal styles */

#overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 30, 85);
    z-index: 999;
    display: block;
    align-items: center;
    justify-content: center;
}

#modal-content {
    background-color: transparent;
    padding: 20px;
    color: #fff;
}

.close {
    position: absolute;
    top: 2;
    right: 0;
    padding-right: 10px;
}

.close svg path {
    stroke: #fff;
    fill: #fff;
}

.close-btn {
    width: 40px;
    height: 40px;
    padding-right: 10px;

}

.modal-service {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    padding-left: 10px;
}

.modal-service ul {
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 300;
    font-style: none;
}

.modal-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    padding-top: 5rem;
}

.li-home {
    position: relative;
}

.modal-head {
    padding: 20px;
}

.modal-body ul {
    font-size: 1.9rem;
    overflow: unset;
    flex-direction: column;
    gap: 2rem;
}

.modal-body li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal-body a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 1.625rem;
    letter-spacing: 0px;
}



/* prototype*/
.wrapper {
    display: flex;
    padding-left: 6.955vw;
    height: 70vh;
}

.primary-wrapper {
    display: flex;
    flex-basis: calc(28.6938vw);
    margin-left: calc(14.3512vw);
    max-width: calc(28.6938vw);
    width: calc(10.6938vw);
    padding: 10px 0;
    text-align: center;
}

.primary-wrapper ul {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.primary-wrapper li {
    padding: 20px 0;
    width: 100%;
}

.secondary-wrapper ul {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.secondary-wrapper li {
    padding: 20px 0;
}

.secondary-wrapper li a {
    font-size: 1.2rem;
    text-align: left;
}

.secondary-wrapper {
    display: flex;
    margin-left: 0%;
    flex-grow: 1;
    max-width: none;
    padding-right: 0px;
    position: relative;
    box-sizing: border-box;
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    padding: 20px 0;
    width: 33.3333%;
    text-align: left;

}

.primary-wrapper,
.secondary-wrapper,
a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;

}

@media (max-width : 600px) {
    .modal-service {
        display: none;
    }

    .modal-body {
        padding-top: 1rem;
    }

    .modal-body a {

        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;

    }

    .logo a {

        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;

    }

    .wrapper {
        height: 40vh;

        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .secondary-wrapper {
        display: none;
    }

    .primary-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        flex-basis: auto;
        margin-left: auto;
    }

    .mob-nav-div {
        position: relative;
        text-align: left;
    }

    .mob-nav {
        border-top: 1px solid rgb(20, 30, 85);
        position: absolute;
        left: 0;
        width: 30%;
    }
    .modal-footer {
        display: flex;        
        justify-content: center;        
        margin-top: 20px;
    }
    .modal-footer ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .modal-footer a {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
    }
    .modal-footer li {
        margin: 0 10px;
    }
}

@media (min-width : 600px) {
    .mob-nav {
        display: none;
    }
    .modal-footer {
        display: none;
    }
}