.our-solution-container {
     padding-bottom: 100px;
}

.headline {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0px 20px;
    width: 100%;
    margin-bottom: 68px;
}
@media (min-width: 600px) {
    .headline {
        box-sizing: border-box;
        max-width: 66%;
        padding: 0 20px;
        width: 66%;
        margin-left: 16%;
    }
}

.headline .title{
    font-family: verlagSSm, sans-serif;
    font-style: normal;
    font-weight: 300;
    width: 100%;
    text-transform: uppercase;
    color: rgb(30, 20, 85);
    text-align: center;
    letter-spacing: 0.25rem;
    font-size: 1.5rem;    
}

@media (max-width: 1280px) {
    .headline
    .title {
        font-size: 1.375rem;
        line-height: 2.25rem;
        letter-spacing: 0.1875rem;
    }
}
.content {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    gap: 30px;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 100%;
    width: 100%;
}
@media (min-width: 600px){

.content {
    margin-left: -20px;
    margin-right: -20px;
    max-width: initial;
    padding: 0px;
    width: initial !important;
}
}

.content1 {
    background-image: url('../../../public/images/father-and-child-playing-game.webp');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.content2 {
    background-image: url('../../../public/images/dog-at-home-with-woman.webp');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.content3 {
    background-image: url('../../../public/images/financing.webp');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.content4 {
    background-image: url('../../../public/images/woman-on-the-phone.webp');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    
}
.content1,
.content2,
.content3,
.content4 {
    height: 300px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;   
}

.gap{
    padding-bottom: 30px;
}

.inner-cont {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding: 150px 30px;
    
}
.inner-cont h2 {
    color: rgb(255, 255, 255);
    font-family: VerlagSSm, sans-serif;
    font-style: normal;
    font-weight: 300;
}



/* ABOUT */

.about {
    background-color: #F7F7F2;
}
.con1 {
    display: flex;
    flex-direction: row;
    /* gap: 40px; */
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    
    
}
.mid {
    padding-top: 120px;
}

.inner-con1 h2{
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0px;
    font-family: VerlagSSm, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 16px;
    color: rgb(20, 30, 85);
}
.inner-con1 p {
    font-family: VerlagSSm, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.625rem;
    color: rgba(20, 30, 85, 0.8);
    
}
.inner-con1-but {
    font-family: VerlagSSm, sans-serif;
    font-weight: 900;
    letter-spacing: 0.09375rem;
    color: rgb(20, 30, 85);
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 1rem;
    display: inline-block;
    transition: padding 0.3s ease-out 0s;
    padding: 10px 16px;
    outline: none;
}
.con2 {
    width: 60%;
    margin: auto;
}
.con2-cont{
    padding: 40px 10px;
}
.con2-cont p {
    font-family: VerlagSSm, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(20, 30, 85);
    font-size: 19px;
    line-height: 34px;
}


.con3 {
    width: 80%;
    margin: auto;
    
}

.bg {
    background-image: url(../../../public/images/market-outlook.webp);
    height: 600px;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.con3-content {
    display: flex;
    flex-direction: column;
    
}
.con3-content h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-family: VerlagSSm, sans-serif;    
}
.con3-content p {
    color: rgb(255, 255, 255);
    font-size: 50px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: capitalize;
    font-family: VerlagSSm, sans-serif;   
}
.center {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.insight-content {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px){
    .con1 {
        flex-direction: column;
    }
    .inner-con1 h2 {
    font-size: 1.625rem;
    line-height: 2.1875rem;
    }
    .mid {
        padding-top: 0px;
    }
    .con1 {
        max-width: 100%;
    }
    .con2 {
        width: 100%;
    }
    .con2-cont {
        padding: 10px;
    }
    .con2-cont p {
        font-size: 17px;
        line-height: 30px;
    }
    .con3 {
      width: 100%;
    }
    .bg {
        max-width: 100%;
        height: auto;
        margin: auto;
        object-fit: contain;
    }
    .con3-content {
        padding-block: 40px;
    }
    .con3-content h2 {
        font-size: 13px;
        line-height: 36px;        
        letter-spacing: 0.2rem;        
    }
    .con3-content p {
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 0.1rem;
    }
    .insight-content {
        flex-direction: row;
    }
    
}